# Q1. Downloading the data

Get the data from [here](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)!

In [29]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("darkgrid")

In [30]:
os.listdir("./data/")

['yellow_tripdata_2022-02.parquet', 'yellow_tripdata_2022-01.parquet']

**Read the 2 datasets**

In [31]:
df_jan = pd.read_parquet("./data/yellow_tripdata_2022-01.parquet")
df_feb = pd.read_parquet("./data/yellow_tripdata_2022-02.parquet")

**Looking into the data**

In [32]:
df_jan.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2.463931e+06,2463931,2463931,2.392428e+06,2.463931e+06,2.392428e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.392428e+06,2.392428e+06
mean,1.707819e+00,2022-01-17 01:19:51.689726208,2022-01-17 01:34:04.421900544,1.389453e+00,5.372751e+00,1.415507e+00,1.660768e+02,1.635807e+02,1.194449e+00,1.294648e+01,1.006710e+00,4.914539e-01,2.385696e+00,3.749773e-01,2.967234e-01,1.916937e+01,2.282322e+00,8.249935e-02
min,1.000000e+00,2008-12-31 22:23:09,2008-12-31 23:06:56,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-4.800000e+02,-4.500000e+00,-5.000000e-01,-1.252200e+02,-3.140000e+01,-3.000000e-01,-4.803000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-09 15:37:41,2022-01-09 15:50:50.500000,1.000000e+00,1.040000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,7.200000e-01,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-01-17 12:11:45,2022-01-17 12:23:49,1.000000e+00,1.740000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-01-24 13:49:37.500000,2022-01-24 14:02:51,1.000000e+00,3.130000e+00,1.000000e+00,2.340000e+02,2.360000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.000000e+00,0.000000e+00,3.000000e-01,2.002000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-18 20:41:57,2022-05-18 20:47:45,9.000000e+00,3.061593e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.500000e+00,1.250000e+00
std,5.021375e-01,NaN,NaN,9.829686e-01,5.478714e+02,5.917573e+00,6.546806e+01,7.079016e+01,5.001778e-01,2.558149e+02,1.236226e+00,8.291560e-02,2.830698e+00,1.680538e+00,4.374741e-02,2.559641e+02,7.432040e-01,3.125554e-01

In [33]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [34]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

**Task: Read the data for January. How many columns are there?**

In [35]:
print("There are {} columns in January".format(len(df_jan.columns)))

There are 19 columns in January

In [36]:
print(df_jan.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

# Q2. ComBad Persong duration

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

**Task: What's the standard deviation of the trips duration in January?**

In [37]:
## There is no duration-column and has to be computed first

# duration = end_time - start_time
df_jan["duration"] = df_jan["tpep_dropoff_datetime"] - df_jan["tpep_pickup_datetime"]
df_jan["duration"] = df_jan['duration'].dt.total_seconds() / 60

In [38]:
print("SD of trips in January is {:.2f}".format(df_jan["duration"].std()))

SD of trips in January is 46.45

# Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

**Task: What fraction of the records left after you dropped the outliers?**

In [39]:
size_before = df_jan.shape
print(size_before)

(2463931, 20)

In [40]:
df_jan = df_jan[(df_jan["duration"] >= 1) & (df_jan["duration"] <= 60)]
size_after = df_jan.shape

In [41]:
print("{:.0f}% of original data left after dropping outliers".format((size_after[0] / size_before[0]) * 100.0))

98% of original data left after dropping outliers

## Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model. 

* Turn the dataframe into a list of dictionaries
* Fit a dictionary vectorizer 
* Get a feature matrix from it

**Task: What's the dimensionality of this matrix (number of columns)?**

**Turn the dataframe into a list of dictionaries**

In [42]:
features = ["PULocationID", "DOLocationID"]
df_jan[features] = df_jan[features].fillna(int(0))
df_jan[features] = df_jan[features].astype("str")
df_jan_dicts = df_jan[features].to_dict(orient="records")

In [43]:
print(df_jan_dicts[:2])

[{'PULocationID': '142', 'DOLocationID': '236'}, {'PULocationID': '236', 'DOLocationID': '42'}]

**Fit a dictionary vectorizer**

In [44]:
from sklearn.feature_extraction import DictVectorizer

In [45]:
dv = DictVectorizer()
X = dv.fit_transform(df_jan_dicts)
print(X[0])
print(X.shape)

  (0, 148)	1.0
  (0, 306)	1.0
(2421440, 515)

In [46]:
print("Dimensions of OH-Encoding - Feature-Matrix: {}".format(X.shape[1]))

Dimensions of OH-Encoding - Feature-Matrix: 515

## Q5. Training a model

Now let's use the feature matrix from the previous step to train a model. 

* Train a plain linear regression model with default parameters 
* Calculate the RMSE of the model on the training data

**Task: What's the RMSE on train?**

In [47]:
# Imports for Sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [48]:
# get the training data
X_train = X.copy()
y_train = df_jan["duration"].copy()
print(X_train.shape, y_train.shape)

(2421440, 515) (2421440,)

**Defining and training the linear regression model**

In [49]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

**RMSE on Trainin Data**

In [50]:
y_pred = model.predict(X_train)
MSE = mean_squared_error(y_train, y_pred)
RMSE = np.sqrt(MSE)
print("RMSE(train): {:.2f}".format(RMSE))

RMSE(train): 6.99

## Q6. Evaluating the model

Now let's apply this model to the validation dataset (February 2022). 

**Task: What's the RMSE on validation?**

In [52]:
# loading the entire february dataset as val-dataset

def val_data_preprocessing(df: pd.DataFrame, dv: DictVectorizer):
    """Extract validation data from given dataframe."""
    # create "duration"-column
    df["duration"] = df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]
    df["duration"] = df['duration'].dt.total_seconds() / 60

    # Filter out outliers
    df = df[(df["duration"] >= 1) & (df["duration"] <= 60)].copy()

    # get the dicts 
    features = ["PULocationID", "DOLocationID"]
    df[features] = df[features].fillna(int(0))
    df[features] = df[features].astype("str")
    df_dicts = df[features].to_dict(orient="records")
    
    X_val = dv.transform(df_dicts)  
    y_val = df["duration"]

    return X_val, y_val

X_val, y_val = val_data_preprocessing(df_feb, dv)

In [53]:
# The validation-set
print(X_val.shape, y_val.shape)

(2918187, 515) (2918187,)

**Computing RMSE on the validation set**

In [54]:
y_pred = model.predict(X_val)
MSE = mean_squared_error(y_val, y_pred)
RMSE = np.sqrt(MSE)
print("RMSE(val): {:.2f}".format(RMSE))

RMSE(val): 7.79